h1 {
  text-align: center;
  color: rgb(0, 110, 255);
  font-weight: bold;
  font-style: italic;
  padding: 20px;
  border: 15px solid blue;
  margin: 10px blue;
  background-color: rgb(110, 6, 27);
}

h2 {
  text-align: center;
  color: aqua;
  font-weight: bold;
}

footer {
  text-align: center;
  color: darkred;
  font-weight: bolder;
  font-style: oblique;
}

.first {
  color: rgb(25, 100, 140);
  text-align: center;
}

.second {
  color: darkred;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  padding: 20px;
  border: 15px solid blue;
  margin: 10px blue;
}

#firstID {
  color: rgb(0, 110, 255);
  text-align: center;
}

/* #secondID {
  color: chartreuse;
} */
