* {
  box-sizing: border-box;
}

header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #252525;
}

li,
a,
button {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 0px 5px 3px;
}

.logo {
  height: 30px;
  width: 90px;
  cursor: pointer;
  margin-right: auto;
  margin-left: 30px;
}

.helplogo {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.nav_links {
  list-style: none;
  margin-top: 20px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  margin-right: 30px;
  margin-left: 50px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 139, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 44, 139, 0.8);
}

img {
  position: relative;
}

.BackgroundImage {
  background-image: url(https://wallpaperaccess.com/full/1597753.jpg);
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.NikeText {
  text-align: center;
  color: #edf0f1;
  font-family: sans-serif;
  position: absolute;
  top: 20%;
  margin-left: 15px;
}

.blckh1 {
  position: absolute;
  text-align: center;
  margin-top: 50px;
}

.flex-container {
  display: flex;
  margin-top: 350px;
  justify-content: center;
  flex-direction: row;
}

.roww {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 50px;
  text-align: center;
  word-wrap: break-word;
}

.flex-container2 {
  display: flex;

  justify-content: center;
  flex-direction: row;
}

p {
  max-width: 300px;
  justify-content: center;
}

blockquote {
  position: fixed;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 110px;
  margin-right: 110px;
}
.Order {
  width: 162px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 80px;
}
.actionbutton {
  background: #252525;
  font-size: 18px;
  text-align: center;
  padding: 10px 15px 10px 15px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2.5px 4.33px 30px 0 rgba(57, 69, 125, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 120px;
}
.logofooter {
  height: 30px;
  width: 90px;
  cursor: pointer;
  margin-right: auto;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footernav {
  background-color: #252525;
  display: flex;
  justify-content: center;
}

.helplogo2 {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.Agree {
  margin-left: 440px;
}
.cttt {
  background-color: rgba(0, 136, 139, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;

  padding: 9px 25px;
}
.cttt:hover {
  background-color: rgba(0, 44, 139, 0.8);
}
.textres {
  margin-left: 40px;
}
